<!DOCTYPE html>

<head>
    <title>ECE1779 Project 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
</head>
<html>

<body>

    <h1>Residents Administration System</h1>

    <div class="leftbar">
        <ul>


            {% if current_user.admin %}
            <li><a href="{{url_for('residents')}}">Show all residents</a></li>
            <li><a href="{{url_for('find_resident')}}">Find the resident</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% elif current_user.is_authenticated %}

            <li><a href="{{url_for('show_personal')}}">Show personal information</a></li>
            <li><a href="{{url_for('add_resident')}}">Update my information </a></li>
            <li><a href="{{url_for('add_vaccine_receipt')}}">Add vaccine certificate</a></li>
            <li><a href="{{url_for('add_resident_image')}}">Update infor by image</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('change_password') }}">Change password</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}



        </ul>

    </div>
    </header>
    <div class="container-fluid ">
        <h3>Welcome to residents administration system.</h3>
        </p>
        <div class="table-responsive">
            <table class="table table-striped">

                <tr>
                    <th style="text-align: left;">Old password</th>
                    <th style="text-align: left;">Create new password</th>
                    <th style="text-align: left;">Confirm new password</th>
                    <th></th>
                </tr>
                <tr>
                    <form action="{{ url_for('change_password') }}" method="post">
                        <td> <input class="short" type="password" name="old_password"></td>
                        <td> <input class="short" type="password" name="new_password"></td>
                        <td> <input class="short" type="password" name="verify_password"></td>
                        <td> <input class="submit" type="submit" value="submit"></td>

                    </form>
                </tr>
            </table>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        <body>

</html>